/*------------------------------------------------*/
/*	BOTTOM LINE
/*------------------------------------------------*/
.bottom-line-section{
  height: 65px;

  .copy p{
    margin-top: 20px;
    font-size: 16px;
    color: rgb(25, 71, 104);
    line-height: 0.875;
  }
}
