/*------------------------------------------------*/
/*	CALL US
/*------------------------------------------------*/

.call-us-section{
  background-color: rgb(68, 142, 246);
  margin-top: 55px;
  h2{
    font-size: 48px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.5;
    margin: 65px 0 65px 0;
    text-align: center;
  }
}